In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
# importar guatemala-2016-encuestas.csv
df = pd.read_csv('guatemala-2016-encuestas.csv')

# convertir titulos por minusculas
df.set_axis(df.columns.str.lower(), axis=1, inplace=True)

# drop null en columna municipio
df.dropna(inplace=True)
df

,identificador,nombre,zona,municipio,clasifica,a_o_conf,n_lotes,poblacion,agua,energia,drenaje,tenencia,token,id_sps,x_coord,y_coord,key,poligono,poligono_geojson
0,1,"Anexo La Planta, El Esfuerzo",12,Villa Nueva,Asentamiento,1998,29,180,Sí,Sí,No,Sí,635933.0,42.0,-90.563810,14.546284,16,MULTIPOLYGON(((-90.5638192008996 14.5454064329...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
1,2,Ampliación El Solano,2,Villa Nueva,Aldea,Antes de 1950,950,13225,Sí,No,Sí,Sí,1.0,20.0,-90.583568,14.550058,17,MULTIPOLYGON(((-90.5797771949547 14.5477106543...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
2,3,Bosques del Milagro,2,Villa Nueva,Asentamiento,1999,20,300,Sí,Sí,Sí,Sí,1.0,33.0,-90.579249,14.550138,18,MULTIPOLYGON(((-90.5793208903113 14.5497340656...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
4,5,"Unidos por la Paz, Sector 2",12,Villa Nueva,Colonia,2007,400,1500,Sí,No,No,Sí,186915.0,59.0,-90.563046,14.559359,20,MULTIPOLYGON(((-90.5623600953621 14.5608035175...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
5,6,Unidos 8 de Marzo,12,Villa Nueva,Asentamiento,2000,175,1000,Sí,No,No,Sí,186915.0,9.0,-90.563113,14.554258,21,MULTIPOLYGON(((-90.5634362416791 14.5532594880...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,373,La Cebadilla,25,Guatemala,Aldea,Antes de 1950,270,1200,No,No,Sí,Sí,635933.0,72.0,-90.396868,14.665334,298,MULTIPOLYGON(((-90.3911659483873 14.6496080975...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.3..."
298,374,San Pascual 3,25,Guatemala,Colonia,1979,115,700,No,Sí,No,Sí,635933.0,23.0,-90.408000,14.682651,299,MULTIPOLYGON(((-90.4091553699953 14.6833282045...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.4..."
299,375,Anexo León Tolstoi,3,Guatemala,Barrio,1980,23,130,Sí,No,No,Sí,635933.0,61.0,-90.523184,14.645787,300,MULTIPOLYGON(((-90.5235415815448 14.6451307921...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
301,377,Hermano Pedro,7,Guatemala,Asentamiento,2009,26,111,Sí,No,No,Sí,186915.0,26.0,-90.531447,14.660142,302,MULTIPOLYGON(((-90.5311521856569 14.6593882522...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
302,378,"Emanuel, Alameda",18,Guatemala,Asentamiento,1995,36,250,Sí,No,No,Sí,1.0,146.0,-90.453945,14.667542,303,MULTIPOLYGON(((-90.4535342656996 14.6670513295...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.4..."

In [4]:
# LIMPIEZA DE DATOS

# drop todos los nulos
df.dropna(inplace=True)

# drop de las columnas identificador, poligono, poligono_geojson, x_coord, y_coord, key, id_sps, token
df.drop(['identificador', 'poligono', 'poligono_geojson', 'x_coord', 'y_coord', 'key', 'id_sps', 'token'], axis=1, inplace=True)

df

,nombre,zona,municipio,clasifica,a_o_conf,n_lotes,poblacion,agua,energia,drenaje,tenencia
0,"Anexo La Planta, El Esfuerzo",12,Villa Nueva,Asentamiento,1998,29,180,Sí,Sí,No,Sí
1,Ampliación El Solano,2,Villa Nueva,Aldea,Antes de 1950,950,13225,Sí,No,Sí,Sí
2,Bosques del Milagro,2,Villa Nueva,Asentamiento,1999,20,300,Sí,Sí,Sí,Sí
4,"Unidos por la Paz, Sector 2",12,Villa Nueva,Colonia,2007,400,1500,Sí,No,No,Sí
5,Unidos 8 de Marzo,12,Villa Nueva,Asentamiento,2000,175,1000,Sí,No,No,Sí
...,...,...,...,...,...,...,...,...,...,...,...
297,La Cebadilla,25,Guatemala,Aldea,Antes de 1950,270,1200,No,No,Sí,Sí
298,San Pascual 3,25,Guatemala,Colonia,1979,115,700,No,Sí,No,Sí
299,Anexo León Tolstoi,3,Guatemala,Barrio,1980,23,130,Sí,No,No,Sí
301,Hermano Pedro,7,Guatemala,Asentamiento,2009,26,111,Sí,No,No,Sí
302,"Emanuel, Alameda",18,Guatemala,Asentamiento,1995,36,250,Sí,No,No,Sí

# Responder las siguientes preguntas

¿Cuál es la relación POBLACION x LOTE? -> Claudia
Por clasificación, ¿qué municipios cuentan con agua y  no tienen drenaje? -> Darling
¿Cuál es el numero de personas por lote por cada una de las zonas?  -> Dennis
¿Dónde tenemos mayor cantidad de personas? -> Dennis
¿Cuáles son las características para tener agua, energía y drenaje? -> Eddison
¿Cuánta es la cantidad de población que vive por clasificación? -> Esteban
Según el año de fundación, ¿Cuál es el municipio que tiene mayor crecimiento de población? -> Flor de Maria
¿Cómo es la población por clasificación y sus servicios? -> Gerson
¿Cuál es el servicio que menos tiene cobertura? -> Ingrid
¿Cuáles son las condiciones comunes que comparten todos los servicios y su antigüedad? -> Jorge E
¿En qué zona vive la mayor población? -> Juan F
¿Qué cantidad de personas viven por clasificación? -> Lauriano
¿Qué % de la población tienen agua, energía y drenajes? -> Maria Fernanda
¿Qué zona es la mas descuidada? -> Roberto Andre
¿Qué municipio es el peor cuidado? -> Estudiantes virtuales
¿Por qué cree que ese municipio es el mas descuidado? -> Estudiantes virtuales
¿Qué porcentaje de la población cuenta con energía por municipio? -> Estudiantes virtuales
¿Cuál es la proporción agua y drenaje de cada municipio? -> Estudiantes virtuales
¿Qué % de la población vive en cada uno de los municipios? -> Estudiantes virtuales

## ¿Cuál es el numero de personas por lote por cada una de las zonas?

In [5]:
# Numero de personas por lote por cada una de las zonas? --> Donde tenemos mayor cantidad de gente  -> Dennis
# Paso 1: personas por lote por cada zona
df2 = df[['municipio', 'zona', 'n_lotes', 'poblacion']].groupby(['municipio', 'zona']).sum().sort_values(by=['poblacion'], ascending=[False])
df2['poblacion_por_lote'] = df2['poblacion'] / df2['n_lotes']
df2

                  n_lotes  poblacion  poblacion_por_lote
municipio   zona
Chinautla   0        9946      50205            5.047758
Guatemala   3        5220      49665            9.514368
            18       4835      33401            6.908170
            7        4293      31666            7.376194
Villa Nueva 4        4240      31200            7.358491
            2        2057      25822           12.553233
            12       2246      15056            6.703473
Petapa      0        1825      14470            7.928767
Villa Nueva 8        1793      12475            6.957613
            3        3245      11573            3.566410
Guatemala   25       2282      10525            4.612182
            6        1501       9877            6.580280
            21       2885       8370            2.901213
            1         921       6743            7.321390
            16          0       5000                 inf
Mixco       0         620       4120            6.645161
Guatemala   13        472       3820            8.093220
Mixco       6         175        800            4.571429
Guatemala   0         160        600            3.750000
Villa Nueva 11         86        500            5.813953
Guatemala   2          66        300            4.545455
            12         75        270            3.600000
            17         20        200           10.000000
            10          0         50                 inf

## ¿Dónde tenemos mayor cantidad de personas?

In [12]:
# Paso 2: Dónde tenemos mayor cantidad de gente (por lote)
df2.sort_values(by=['poblacion_por_lote'], ascending=[False])

                  n_lotes  poblacion  poblacion_por_lote
municipio   zona
Guatemala   10          0         50                 inf
            16          0       5000                 inf
Villa Nueva 2        2057      25822           12.553233
Guatemala   17         20        200           10.000000
            3        5220      49665            9.514368
            13        472       3820            8.093220
Petapa      0        1825      14470            7.928767
Guatemala   7        4293      31666            7.376194
Villa Nueva 4        4240      31200            7.358491
Guatemala   1         921       6743            7.321390
Villa Nueva 8        1793      12475            6.957613
Guatemala   18       4835      33401            6.908170
Villa Nueva 12       2246      15056            6.703473
Mixco       0         620       4120            6.645161
Guatemala   6        1501       9877            6.580280
Villa Nueva 11         86        500            5.813953
Chinautla   0        9946      50205            5.047758
Guatemala   25       2282      10525            4.612182
Mixco       6         175        800            4.571429
Guatemala   2          66        300            4.545455
            0         160        600            3.750000
            12         75        270            3.600000
Villa Nueva 3        3245      11573            3.566410
Guatemala   21       2885       8370            2.901213

In [7]:
# Donde tenemos mayor cantidad de gente en general
df2.sort_values(by=['poblacion'], ascending=[False])

                  n_lotes  poblacion  poblacion_por_lote
municipio   zona
Chinautla   0        9946      50205            5.047758
Guatemala   3        5220      49665            9.514368
            18       4835      33401            6.908170
            7        4293      31666            7.376194
Villa Nueva 4        4240      31200            7.358491
            2        2057      25822           12.553233
            12       2246      15056            6.703473
Petapa      0        1825      14470            7.928767
Villa Nueva 8        1793      12475            6.957613
            3        3245      11573            3.566410
Guatemala   25       2282      10525            4.612182
            6        1501       9877            6.580280
            21       2885       8370            2.901213
            1         921       6743            7.321390
            16          0       5000                 inf
Mixco       0         620       4120            6.645161
Guatemala   13        472       3820            8.093220
Mixco       6         175        800            4.571429
Guatemala   0         160        600            3.750000
Villa Nueva 11         86        500            5.813953
Guatemala   2          66        300            4.545455
            12         75        270            3.600000
            17         20        200           10.000000
            10          0         50                 inf

## Cuáles son las características para tener agua, energía y drenaje?

In [8]:
# marcar agua energia y drenaje como True o False
df['tiene_agua'] = df['agua'] == 'Sí'
df['tiene_energia'] = df['energia'] == 'Sí'
df['tiene_drenaje'] = df['drenaje'] == 'Sí'

# buscar los datos que cumplen con los tres servicios
df[df['tiene_agua'] & df['tiene_energia'] & df['tiene_drenaje']][['nombre', 'municipio', 'zona', 'poblacion', 'clasifica', 'tiene_agua', 'tiene_energia', 'tiene_drenaje']]

,nombre,municipio,zona,poblacion,clasifica,tiene_agua,tiene_energia,tiene_drenaje
2,Bosques del Milagro,Villa Nueva,2,300,Asentamiento,True,True,True
6,Aldea Rancho Azul,Villa Nueva,2,1500,Aldea,True,True,True
14,Anexo Sur Villa Lobos 2,Villa Nueva,12,468,Colonia,True,True,True
19,Anexo Lomas de Villa Lobos 2,Villa Nueva,12,2000,Asentamiento,True,True,True
36,20 de October,Villa Nueva,3,400,Colonia,True,True,True
38,Israel,Villa Nueva,8,600,Colonia,True,True,True
101,Luz del Sol 2,Petapa,0,540,Asentamiento,True,True,True
102,Luz del Sol 1,Petapa,0,450,Comunidad,True,True,True
121,La Bendición de Dios,Guatemala,18,65,Asentamiento,True,True,True
140,Anexo El Bosque,Guatemala,3,200,Asentamiento,True,True,True
141,El Purgatorio,Guatemala,18,150,Otro,True,True,True
175,La Independencia,Guatemala,18,1400,Asentamiento,True,True,True
225,"Santa Faz, Sector 6",Chinautla,0,300,Asentamiento,True,True,True
244,Asentamiento Alcázar,Guatemala,10,50,Asentamiento,True,True,True
260,El Vergel,Guatemala,25,250,Colonia,True,True,True
275,Santa Isabel 1,Villa Nueva,3,8000,Colonia,True,True,True
281,Las Gardenias (Loma Linda y La Fe),Villa Nueva,4,1000,Asentamiento,True,True,True
287,Santa Lucía los Ocotes,Guatemala,25,8000,Aldea,True,True,True
290,"19 de Mayo, Sector 2",Guatemala,6,600,Comunidad,True,True,True
292,"19 de Mayo, Sector 1",Guatemala,6,300,Comunidad,True,True,True

## ¿Cuánta es la cantidad de población que vive por clasificación?

In [9]:
df[['clasifica', 'poblacion']].groupby(['clasifica']).sum().sort_values(by=['poblacion'], ascending=[False])

              poblacion
clasifica
Asentamiento     148188
Colonia           92196
Comunidad         38472
Aldea             37425
Barrio             4825
Otro               4047
Cantón             1555

## Según el año de fundación, ¿Cuál es el municipio que tiene mayor crecimiento de población?

In [10]:
# dejar solo valores enteros en el año de fundación
df['fundacion'] = df.a_o_conf.str.replace('[a-z\sA-Z]', '', regex=True).astype(int)

# calcular la cantidad de años desde la fundacion hasta el día de hoy
df['años_desde_fundacion'] = datetime.now().year - df['fundacion']

# crecimiento anual de cada comunidad por años de fundacion
df['crecimiento_anual'] = df['poblacion'] / df['años_desde_fundacion']
df[['municipio', 'nombre', 'poblacion', 'años_desde_fundacion', 'crecimiento_anual']].sort_values(['crecimiento_anual'], ascending=False)

,municipio,nombre,poblacion,años_desde_fundacion,crecimiento_anual
163,Villa Nueva,La Paz,10500,26,403.846154
237,Guatemala,Las Torres,8600,26,330.769231
199,Chinautla,Complejo Arnoldo Medrano,7500,23,326.086957
123,Guatemala,Anexo Manuel Colom Argueta,4200,13,323.076923
282,Villa Nueva,"Sector 1, 2A y 2J, Mártires del Pueblo",7500,25,300.000000
...,...,...,...,...,...
94,Petapa,El Cerro,0,27,0.000000
91,Chinautla,"Vida Nueva, Sector 1",0,30,0.000000
271,Chinautla,Manzanas 35 y 36,0,46,0.000000
274,Villa Nueva,Anexo Nuevo Porvenir,0,29,0.000000
107,Petapa,Galiz,0,72,0.000000

In [11]:
# promedio de crecimiento por municipio
df[['municipio', 'años_desde_fundacion', 'crecimiento_anual']].groupby(['municipio']).mean().sort_values(['crecimiento_anual'], ascending=False)

             años_desde_fundacion  crecimiento_anual
municipio
Villa Nueva             31.054545          52.670174
Mixco                   40.333333          50.701754
Petapa                  35.266667          34.787453
Guatemala               35.617021          33.892238
Chinautla               32.250000          27.807845